[submodule "agentic_codebases/pi-mono"]
	path = agentic_codebases/pi-mono
	url = https://github.com/badlogic/pi-mono.git
[submodule "agentic_codebases/hermes-agent"]
	path = agentic_codebases/hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "agentic_codebases/opencode"]
	path = agentic_codebases/opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "agentic_codebases/openclaw"]
	path = agentic_codebases/openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "skills/anthropic"]
	path = skills/anthropic
	url = https://github.com/anthropics/skills.git
